<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
                <h3>Download Our App</h3>
                <p>Download App fro Android and ios mobile phone.</p>
            </div>
            <div class="footer-col2">
                <img src="/images/mainlogo.jpg" alt="Oops!">
                <p>Elevate your wardrobe effortlessly with our handpicked fashion pieces that blend style, quality, and affordability.</p>
            </div>
            <div class="footer-col3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupans</li>
                    <li>Blog post</li>
                    <li>Return Policy</li>
                    <li>Join Affliate</li>
                </ul>
            </div>
            <div class="footer-col4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Muthu Jawahar</p>
    </div>
</div>
