.row2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.panel {
    border-radius: 30px;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 60px;
}


.categories {
    /* width:auto; */
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.col4 {
    flex-basis: calc(25% - 20px);
    justify-content: center ;
    padding-left: 35px;
    margin-bottom: 30px;
    min-width: 250px;
    /* transition: transform 0.5s; */
    box-shadow: 1px 2px 2px 1px rgba(0.2,0.2,0.2,0.2);
    /* transition: box-shadow 0.5s; */
    transition: transform 0.5s, box-shadow 0.5s;
    border-radius: 5px;
}

.col4:hover{
    /* transition: transform 0.5s; */
    box-shadow: 1px 2px 2px 1px #ff523b ;
}

.col4 a img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.col3 {
    flex-basis: 25%;
    min-width: 250px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 50px;
}

.col3 h3 {
    font-weight: bold;
    color: #555;
    font-size: 16px;
    margin-top: 10px;
}

#product-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 20px;
    justify-content: center;
}
.col3 h3:hover {
    color: #ff523b;
}

.col3.active {
    background-color: #666;
}

.col3.active h3{
    color: #fff;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

#product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.below-container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod-row {
    margin: 10px 10px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod-col {
    margin: 10px 10px;
    padding-left: 20px;
}